body{
    background-color: #ccf0e1;
}
hr  {   background-color: white;
    border-style: none ;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    
} 
h1{
   color: #18b0b0;
}
h2{
    color: #18b0b0;
}
h3{
    color: #18b0b0;
}
